* {
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
    color: #CDD9E5;
}

body {
    background-color: #22272E;
    margin: 0;
}

#main-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2D333B;
}

h1 {
    font-size: 1.5rem;
    margin: 0;
}

#navigation-list {
    display: flex;
    list-style-type: none;
}

#navigation-list li {
    padding: 0 0.5rem;
}

#navigation-list li a {
    font-weight: 600;
}

a {
    text-decoration: none;
}

a:hover, h1:hover {
    color: #9DA7B3;
}

.centered-text {
    text-align: center;
}

#upload-section {
    margin: 1rem auto;
    display: flex;
    max-height: 600px;
    justify-content: space-evenly;
}

#upload-section section {
    width: 44%;
}

#csv-result-placeholder {
    width: 100%;
    height: 80%;
    overflow: scroll;
    color: #22272E;
    background-color: white;
}

#file-input-btn {
    color: orange;
    background-color: white;
    border: medium solid orange;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 16px auto;
    font-size: large;
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
}

#file-chosen {
    margin-left: 0.3rem;
    font-family: sans-serif;
}

#download-csv {
    display: none;
    float: right;
    text-align: right;
}

#download-label {
    display: inline;
    float: left;
}

#download-link-label:hover {
    color: #f76725;
}

#file-input-btn:hover {
    color: white;
    background-color: orange;
}

#file-input {
    font-size: large;
}

label[for=file-input] {
    display: block;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.credentials-section {
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.credentials-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.credentials-form input {
    color: orange;
    font-weight: bold;
    margin-bottom: 8px;
}

.credentials-section p {
    text-align: center;
}

.credentials-section p a {
    font-weight: bold;
    color: orange;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.options-fieldset {
    width: 90%;
    border: 1px solid orange;
    margin-top: 1rem;
}

.options-fieldset textarea {
    width: 100%;
    color: black;
    overflow-y: scroll;
    resize: none;
}

#info_icon {
    height: 20px;
    width: 20px;
}

.tooltip {
    position: relative;
}

.tooltip::before {
    content: attr(data-title) "\A\A" attr(data-delimiter) "\A\A" attr(data-fields) "\A\A" attr(data-header) "\A\A" attr(data-uppercase);
    white-space: pre-wrap;
    position: absolute;
    left: 100%;
    top: -500%;

    margin-left: 1rem;
    padding: 0.625rem;

    width: 400px;
    border-radius: 0.625rem;
    background-color: rgb(255, 165, 0);
    color: #fff;
    display: none;
}

.tooltip:after {
    content: "";
    position: absolute;
    left: 100%;
    top: -20%;
    margin-left: -0.2rem;
    border: 10px solid;
    border-color: transparent rgb(255, 165, 0) transparent transparent;
    display: none;
}

.tooltip:hover:before, .tooltip:hover:after {
    display: block;
}
  